<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="m.me/nyctravelbuddy" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/nyctravelbuddy.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="m.me/nyctravelbuddy" target="_blank">NYC travel Buddy</a>
        </div>
        <p>An AI chatbot that helps user find events and restaurants nearby.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://www.aholsniffsethereum.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://www.aholsniffsethereum.com/" target="_blank">aholsniffs ethereum</a>
        </div>
        <p>A wensite to sell artist merchandise with the help of smart contract. It uses a custom made smart contract to identify and verify a successful purchase</p>
      </figcaption>
    </div>
  </div>
</section>
